.first{
    display: flex;     
}
.nav{

    display: flex;  
}
.nav1{
    display: flex;
    padding: 25px;
    margin-left: 500px;
    gap: 6px;
}
.img1{
    height: 80px;
}
.top{    
    height: 70px;
}
a{
    text-decoration: none;
    color: rgb(200, 189, 189);
}
button{
    margin-top: 20px;
    width: 130px;
    height: 35px;
    border-radius: 20px;
    background-color: rgb(12, 12, 63);
    color: white;
    transition: background-color;
}
 button:hover{
    background-color: rgb(0, 242, 255);
}
.val{
    text-align: center;
    font-size: 30px;
    color: blue;
}
.mid{
    display: flex;
    
    gap: 70px;
}
.middle{
    gap: 8px;
    width: 350px;
;
   
}
.img2{
    margin-left: 110px;
    height: 95px;
}
h4{
    font-size: 20px;
    margin-left: 105px;
}
.p1{
    text-align: center;
}

.add{
    background-color: rgb(242, 239, 239);
}
.lap{
    margin-top: 90px;
    text-align: center;
    font-size: 20px;
}
.op{
 margin-top: 80px;
    gap: 170px;
    display: flex ;
    margin-left: 150px;
    margin-right: 150px;
    transition: transform 0.3s ease ;
}

.op1{
    margin-top: 90px;
    gap: 170px;
    display: flex ;
    margin-left: 150px;
    margin-right: 150px;
    transition: transform 0.3s ease ;

}
.yup{
   width: 700px;
   height: 400px;
   text-align: center;
   margin-left: 10px;
   margin-right: 10px;
   border-radius: 20px;
   box-shadow: rgba(0, 0, 0, 0.1) 0pc 10px 14.25pt 7px;
    background-color: #fff7f7;
   transition: transform 0.3s ease;
}
.yup:hover{
    transform: scale(1.1);
    box-shadow:  rgba(0, 0, 0, 0.1) 0pc 10px 44.25pt 2.1875pc;
}
.img3{
    border-radius: 20px;
}

footer{
    padding: 10px;
    display: flex;
    gap: 90px;
    background-color: darkblue;
    color: white;
}
h5{
    font-size: 19px;
}
.last{
    text-align: center;
    background-color: darkblue;
    color: white;
    margin-bottom: 20px;
}


.last2{
    display: flex;
    gap: 200px;
}

.ab1{
    margin-left: 999px;
    margin-bottom: -1000px;
    position: absolute;
    animation: infinite  ;
    animation-name: run;
    animation-duration: 70s ;
}

.ab2{
    margin-left: 700px;
    margin-bottom: -1000px;
    position: absolute;
    animation: infinite  ;
    animation-name: run;
    animation-duration: 90s ;
}

.ab3{
    margin-left: 500px;
    margin-bottom: -1000px;
    position: absolute;
    animation: infinite  ;
    animation-name: run;
    animation-duration: 30s ;
}

.ab4{
    margin-left: 400px;
    margin-bottom: -1000px;
    position: absolute;
    animation: infinite  ;
    animation-name: run;
    animation-duration: 25s ;
}

.ab5{
    margin-left: 200px;
    margin-bottom: -1000px;
    position: absolute;
    animation: infinite  ;
    animation-name: run;
    animation-duration: 80s ;
}

.ab6{
    margin-left: 100px;
    margin-bottom: -1000px;
    position: absolute;
    animation: infinite  ;
    animation-name: run;
    animation-duration: 35s ;
}
@keyframes run {
    0% {
        transform: scale(1);
        opacity: 1;
        bottom: 0;
      }
      100% {
        transform: scale(1);
        opacity: 1;
        bottom: 900vh;    
      }
    }

    .portfolio-container{
        margin-left: auto;
        margin-right: auto;
        display: grid;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
        margin-bottom: 1.875pc;
        margin-top: 1.875pc;
        grid-template-columns: repeat(3,1fr);
        gap: 60px;
        box-sizing: border-box;
    }
    .card{
        width: 150px;
        height: 200px;
        perspective: 1000px;
        margin: 10px;
        
    }
    .card div{
        height: 92%;
        width: 175%;
        position: absolute;
        backface-visibility: hidden;
    }

    .front{
        background-color: gray;
        color: white;
     
        transition: transform 0.5s;
    }

    .back{
        background-color: brown;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        cursor: pointer;
        transform: rotateY(180deg);
        transition: transform 0.5s;
    }

    .card:hover .front{
        transform: rotateY(180deg);
    }
    .card:hover .back{
        transform: rotateY(0deg);
    }

    .back img{
        height: 200px;
        width: 300px;
    }

    .front{
        height: 200px;
        width: 300px;
    }
    .h2{
        text-align: center;
    }
    .pa{
        text-align: center;
    }

  

